<div>
    <img src="{{img}}">
    <ul>
        <li>{{name}}</li>
        <li>{{description}}</li>
        <li>{{actors}}</li>
        <li>{{director}}</li>
        <li>{{release_date}}</li>
    </ul>
</div>
