<div class ="movie-container">
    <img src="{{img}}">
    <ul>
        <li>{{name}}</li>
        <li>{{description}}</li>
        <li>{{actors}}</li>
        <li>{{director}}</li>
        <li>{{c_rating}}</li>
        <li>{{a_rating}}</li>
    </ul>
</div>
